@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using WebApplication2.Shared
@attribute [Authorize]
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (test == null || test2 == null || test3 == null || test4 == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <p><em>dsadsadsa...</em></p>
    <h1>
        @test2.Market
    </h1>
    <h1>
        @test3.QueryCount
    </h1>
    
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var news in test4)
                {
                    <tr>
                        <td>@news.Title</td>
                        <td>@news.Author</td>
                        <td>@news.DateOfPublishing</td>
                        <td>@news.UrlToArticle</td>
                    </tr>
                }
            </tbody>
        </table>
    
}

@code {
    DailyOpenCloseDTO test;
    TickerDetailsDTO test2;
    TickerPricesDTO test3;
    TickerNewsDTO[] test4;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            test2 = await Http.GetFromJsonAsync<TickerDetailsDTO>("Stocks/TSLA");
            test = await Http.GetFromJsonAsync<DailyOpenCloseDTO>("Stocks/TSLA/2021-7-23");
            test3 = await Http.GetFromJsonAsync<TickerPricesDTO>("Stocks/TSLA/Prizes/2021-7-23");
            test4 = await Http.GetFromJsonAsync<TickerNewsDTO[]>("Stocks/TSLA/News/5");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
